---
---

<footer aria-label="footer" class="text-center py-3 bg-slate-300">
  <small>
    Copyright &copy; <span id='copyright'></span>
    | All rights reserved
  </small>
</footer>

<script>
  document.querySelector('#copyright').textContent = new Date()
    .getFullYear()
    .toString()
</script>
