---
---

<header aria-label='header' class='px-6 py-4 bg-orange-500'>
  <nav class='flex justify-between items-center'>
    <a href='/' aria-label='Logo' class='text-3xl font-bold hover:underline'>
      vinoo.
    </a>
    <ul class='flex justify-center items-center'>
      <li class='mx-2'>
        <a href=''>About</a>
      </li>
      <li class='mx-2'>
        <a href=''>Projects</a>
      </li>
      <li class='mx-2'>
        <a href=''>Blog</a>
      </li>
    </ul>
  </nav>
</header>
