---
import { Icon } from 'astro-icon'
---

<nav aria-label='Primary'>
  <div class='navbar'>
    <a href='/' aria-label='Go home' class='logo'>
      <img src='/public/img/logo.png' class='logo-img' alt='' />
    </a>
    <ul></ul>
  </div>
</nav>
