---
// Component import
import MainHead from './MainHead.astro'
import Header from '../components/Header.astro'

// Style import
import '../styles/style.css'
import Footer from '../components/Footer.astro'

const {
  title = 'My Astro Blog',
  description = 'My experiments with the Astro framework',
} = Astro.props
---

<html lang='en' class='min-h-screen'>
  <MainHead title={title} description={description} />
  <body class='min-h-screen'>
    <Header />
    <slot>Default Text</slot>
    <Footer />
  </body>
</html>
